* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: rgb(155, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 1000px;
    height: 600px;
    background: orange;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
}

.button1 {
    padding: 15px 30px;
    font-size: 30px;
    background: red;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.hamster {
    width: 75px;
    height: 75px;
    border: 5px solid black;
    background: #333;
    border-radius: 20px;
    position: absolute;
}

.food-1 {
    width: 75px;
    height: 75px;
    background: rgb(130, 0, 0);
    border-radius: 50%;
    position: absolute;
    border: 5px solid black;
}

.food-2 {
    width: 75px;
    height: 75px;
    background: rgb(38, 255, 0);
    border-radius: 50%;
    position: absolute;
    border: 5px solid black;
}

.butoon{
    padding: 15px 30px;
    font-size: 30px;
    background: red;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}


/* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: rgb(57, 182, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background: orange;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
}

.button {
    padding: 20px 40px;
    background: rgb(127, 127, 255);
    font-size: 30px;
    border: 5px solid black;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial';
    margin-bottom: 20px;
    cursor: pointer;
}

.hamster {
    width: 75px;
    height: 75px;
    background: rgb(130, 67, 0);
    border-radius: 15px;
    position: absolute;
    border: 5px solid black;
}

.food-1 {
    width: 75px;
    height: 75px;
    background: rgb(130, 0, 0);
    border-radius: 50%;
    position: absolute;
    border: 5px solid black;
}

.food-2 {
    width: 75px;
    height: 75px;
    background: rgb(38, 255, 0);
    border-radius: 50%;
    position: absolute;
    border: 5px solid black;
} */